@font-face {
  font-family: 'ReadexPro';
  src: url(./fonts/ReadexPro.ttf) format('truetype');
}

body {
  font-family: 'ReadexPro';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}